/* Form Theme */
:root {
  --control-border-radius: 0px;
  --control-border-width: 1px;
  --control-border-color: var(--border-secondary);
  --control-border-style: solid;
  --control-padding: 12px 16px;
  --control-font-size: 16px;
  --control-line-height: 24px;
  --control-font-weight: 400;
  --control-font-family: var(--font-family-primary);
  --control-background-color: var(--bg-quaternary);
  --control-color: var(--text-white);
  --control-placeholder-color: var(--text-placeholder);
}

/* /Form Theme */
