:root {
  /* Container max-widths */
  --container-max: 1232px;
  --container-padding: 16px;

  /* Section padding */
  --section-padding: 48px 0;

  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --spacing-heading: 12px;
  --spacing-subheading: 24px;
}

@media (min-width: 760px) {
  /* tablet */
  :root {
    --container-padding: 32px;
    --section-padding: 80px 0;

    --spacing-heading: 16px;
    --spacing-subheading: 40px;
  }
}
@media (min-width: 1232px) {
  /* desktop */
  :root {
    --container-padding: 16px;
    --section-padding: 96px 0;

    --spacing-subheading: 48px;
  }
}
