* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  color: var(--text-primary);
  font: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text-primary);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--text-brand);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 16px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 16px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 8px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 4px;
}

h6 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 4px;
}

p {
  margin: 0;
  margin-bottom: 16px;
}

caption {
  font-size: 12px;
  line-height: 20px;
}

blockquote {
  border-left: 1px solid var(--text-brand);
  color: var(--text-secondary);
  padding-left: 24px;
  margin: 24px 0;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="url"],
input[type="search"],
input[type="password"],
input[type="file"],
textarea {
  border: var(--control-border-width) var(--control-border-style)
    var(--control-border-color);
  border-radius: var(--control-border-radius);
  padding: var(--control-padding);
  font-size: var(--control-font-size);
  line-height: var(--control-line-height);
  font-weight: var(--control-font-weight);
  font-family: var(--control-font-family);
  color: var(--control-color);
  background-color: var(--control-background-color);
  outline: none;
  transition: all 0.2s ease;
  height: var(--control-height);
}

*::placeholder {
  color: var(--control-placeholder-color);
}

textarea {
  resize: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="url"],
input[type="search"],
input[type="password"],
input[type="file"],
textarea {
  width: 100%;
  display: block;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--border-focused);
}

input:disabled,
textarea:disabled {
  background-color: var(--bg-quaternary);
  color: var(--text-disabled);
}

input:user-invalid,
textarea:user-invalid {
  border: var(--control-border-width) var(--control-border-style)
    var(--border-error);
}
