/* Button Components */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  background: var(--color-gray-800);
  color: var(--color-gray-25);
  cursor: pointer;
}

.button--primary {
  background: var(--color-brand);
  color: var(--color-gray-25);
}

.button--secondary {
  background: var(--color-white);
  color: var(--color-gray-950);
  outline: 1px solid var(--color-gray-200);
}

@media (min-width: 760px) {
  /* tablet */
  .button {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
  }
}
