/* Button Components */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  background: var(--bg-neutral);
  color: var(--text-primary-reverse);
  cursor: pointer;
}

.button--fluid {
  width: 100%;
}

.button--brand {
  background: var(--bg-brand);
  color: var(--text-primary-reverse);
}

.button--secondary {
  background: var(--bg-white);
  color: var(--text-primary);
  outline: 1px solid var(--border-primary);
}

@media (min-width: 760px) {
  /* tablet */
  .button {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
  }
}
