.card {
  padding: 12px;
}

.card--brand {
  background: var(--color-brand-secondary);
  color: var(--color-brand);
}

.card--primary {
  background: var(--color-white);
  color: var(--color-gray-950);
}

.card--secondary {
  background: var(--color-gray-100);
  color: var(--color-gray-950);
}
