/* Card */

.card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card--brand {
  background: var(--bg-brand-secondary);
  color: var(--text-brand);
}

.card--white {
  background: var(--bg-white);
  color: var(--text-primary);
}

.card--primary {
  background: var(--bg-primary);
  color: var(--text-primary);
}

/* /Card */
