.card {
  padding: 12px;
}

.card--brand {
  background: var(--bg-brand-secondary);
  color: var(--text-brand);
}

.card--primary {
  background: var(--bg-white);
  color: var(--text-primary);
}

.card--secondary {
  background: var(--bg-primary);
  color: var(--text-primary);
}
