/* Carousel */

.carousel {
  --index: 0;

  position: relative;
}

.carousel__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.carousel__overlay--prev {
  left: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.1) 0%, #000 100%);
}

.carousel__overlay--next {
  right: 0;
  left: auto;
  background: linear-gradient(270deg, #000 0%, rgba(0, 0, 0, 0.1) 100%);
}

.carousel__prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-8px, -50%);
  z-index: 10;
}

.carousel__next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(8px, -50%);
  z-index: 10;
}

.carousel__content {
  overflow: hidden;
}

.carousel__track {
  display: flex;
  align-items: center;
  transform: translateX(calc(var(--index) * -100%));
  transition: transform 0.55s cubic-bezier(0.22, 0.61, 0.36, 1);
  will-change: transform;
  scroll-behavior: auto;
}

.carousel__track > div {
  flex-shrink: 0;
  width: 100%;
}

/* Images carousel specific styles */
.carousel--images .carousel__track {
  transform: translateX(calc(-1 * var(--translate-x, 0px)));
  align-items: stretch;
}

.carousel--images .carousel__track > img {
  flex-shrink: 0;
  width: auto;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel__dots {
  position: absolute;
  bottom: -48px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.carousel__dot {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 0;
  border: none;
}

.carousel__dot span {
  display: block;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: var(--bg-neutral);
  font-size: 0;
}

.carousel__dot.active span {
  background-color: var(--bg-brand);
  width: 16px;
  height: 16px;
}

@media (prefers-reduced-motion: reduce) {
  .carousel__track {
    transition: none;
  }
}

@media (min-width: 760px) {
  /* tablet */
  .carousel__dots {
    margin-top: 32px;
  }

  .carousel__overlay {
    width: 200px;
  }
}

@media (min-width: 1232px) {
  /* desktop */
  .carousel__prev {
    transform: translate(-80px, -50%);
  }

  .carousel__next {
    transform: translate(80px, -50%);
  }
}

/* /Carousel */
