/* Header */

.header {
  padding: 16px 0;
  background: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--color-gray-200);
}

.header__logo {
  height: 48px;
}

/* /Header */
