/* Contact Section */
.contact-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

.contact-form textarea {
  flex: 1 1 176px;
}

.contact-info {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 16px;
  color: var(--text-white);
}

.contact-info p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.contact-info h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.contact-form__left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-form__right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 760px) {
  /* tablet */
  .contact-form {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .contact-form__left {
    gap: 16px;
  }
}

@media (min-width: 1232px) {
  /* desktop */
  .contact-section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  .contact-form {
    grid-column: span 2;
  }
}

/* /Contact Section */
