/* FAQ Section */

.faq-section__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.faq-section__info .button {
  margin-top: 8px;
}

.faq-section__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* /FAQ Section */
