/* Footer */

.footer {
  background: var(--bg-secondary);
}

.footer__nav h4 {
  margin-bottom: 12px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 16px;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-top: 1px solid var(--border-primary);
}

.socials {
  display: flex;
  gap: 16px;
  align-items: center;
}

.socials a {
  line-height: 1;
}

/* /Footer */
