/* Footer */

.footer {
  background: var(--bg-secondary);
}

.footer__nav h4 {
  margin-bottom: 12px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 16px;
}

.footer__left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.footer__right {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-top: 1px solid var(--border-primary);
  max-width: 1200px;
  margin: 0 auto;
}

.socials {
  display: flex;
  gap: 16px;
  align-items: center;
}

.socials a {
  line-height: 1;
}

@media (min-width: 760px) {
  /* tablet */
  .footer__container {
    padding: 48px 32px;
    gap: 48px;
  }

  .footer__info {
    gap: 24px;
  }

  .footer__left {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__right {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__copyright {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 32px;
  }
}

@media (min-width: 1232px) {
  /* desktop */
  .footer__left {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    max-width: 384px;
  }

  .footer__right {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 16px;
  }

  .footer__copyright {
    padding: 24px 0;
  }
}

/* /Footer */
