/* Header */

.header {
  padding: 16px 0;
  background: var(--bg-white);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--border-primary);
  transition: padding 0.2s ease-in-out;
}

.header__logo {
  height: 48px;
}

/* /Header */
