.memory {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px 0 32px;
}

.memory-message {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.memory__image {
  max-width: 360px;
  margin: 0 auto;
}

.grid-images {
  display: grid;
  gap: 8px;
}

.grid-row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

.grid-messages {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  margin-top: 24px;
}

.grid-messages__column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.carousel--images {
  height: 400px;
  margin-bottom: 80px;
}

.carousel--images .carousel__content {
  width: 100%;
  overflow: hidden;
}

.carousel--images .carousel__prev {
  transform: translate(16px, -50%);
}

.carousel--images .carousel__next {
  transform: translate(-16px, -50%);
}

.carousel--images .carousel__content,
.carousel--images .carousel__track {
  height: 100%;
}

@media (min-width: 760px) {
  /* tablet */
  .memory {
    gap: 32px;
    margin: 40px 0 64px;
  }

  .memory__image {
    max-width: 400px;
    margin: 0 auto;
  }

  .memory-message {
    gap: 24px;
  }

  .grid-images {
    gap: 12px;
  }

  .grid-row {
    display: grid;
    gap: 12px;
    height: 138px;
    grid-template-columns: repeat(var(--columns), 1fr);
  }

  .carousel--images {
    margin-bottom: 96px;
  }

  .carousel--images .carousel__prev {
    transform: translate(32px, -50%);
  }

  .carousel--images .carousel__next {
    transform: translate(-32px, -50%);
  }
}

@media (min-width: 1232px) {
  /* desktop */
  .memory {
    flex-direction: row;
    gap: 48px;
    justify-content: space-between;
    margin: 48px 0 80px;
  }

  .memory--reverse {
    flex-direction: row-reverse;
  }

  .memory__image {
    max-width: 360px;
    margin: 0;
  }

  .memory__content {
    max-width: 690px;
  }

  .memory-message {
    gap: 48px;
    max-width: 690px;
    margin: auto;
  }

  .grid-row {
    height: 360px;
  }

  .grid-row:nth-child(2) {
    height: 266px;
  }

  .grid-messages {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .grid-messages--more {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-messages__column {
    gap: 24px;
  }

  .grid-row-2 {
    height: 266px;
  }

  .carousel--images {
    margin-bottom: 144px;
  }
}

@media (min-width: 1920px) {
  /* desktop */
  .grid-row {
    overflow: hidden;
  }

  .grid-row:nth-child(2) {
    height: 360px;
  }

  .grid-row-2 {
    height: 360px;
  }
}
