.memory {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px 0 32px;
}

.memory-message {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.memory__image {
  max-width: 360px;
  margin: 0 auto;
}

.grid-images {
  display: grid;
  gap: 8px;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

.grid-row--4 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-row--6 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 292px;
}

.grid-row--3 img {
  max-height: 292.5px;
}

.grid-row--4 img {
  max-height: 143.25px;
}

.grid-row--6 img {
  max-height: 254.67px;
}

.grid-images--2 .grid-row {
  grid-template-columns: repeat(1, 1fr);
}

.grid-images--2 .grid-row--4 img {
  max-height: 292.5px;
}

.grid-messages {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  margin-top: 24px;
}

.grid-messages__column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.carousel--images {
  height: 230px;
  margin-bottom: 80px;
}

.carousel--images .carousel__content {
  width: 100%;
  overflow: hidden;
}

.carousel--images .carousel__prev {
  transform: translate(16px, -50%);
}

.carousel--images .carousel__next {
  transform: translate(-16px, -50%);
}

.carousel--images .carousel__content,
.carousel--images .carousel__track {
  height: 100%;
}

@media (min-width: 760px) {
  /* tablet */
  .memory {
    gap: 32px;
    margin: 40px 0 64px;
  }

  .memory__image {
    max-width: 400px;
    margin: 0 auto;
  }

  .memory-message {
    gap: 24px;
  }

  .grid-images {
    gap: 12px;
  }

  .grid-row--3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-images--2 .grid-row--4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-row--6 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-row--3 img {
    max-height: 184px;
  }

  .grid-row--4 img,
  .grid-images--2 .grid-row--4 img {
    max-height: 280.5px;
  }

  .grid-row--6 img {
    max-height: 327px;
  }

  .carousel--images {
    margin-bottom: 96px;
    height: 300px;
  }

  .carousel--images .carousel__prev {
    transform: translate(32px, -50%);
  }

  .carousel--images .carousel__next {
    transform: translate(-32px, -50%);
  }
}

@media (min-width: 1232px) {
  /* desktop */
  .memory {
    flex-direction: row;
    gap: 48px;
    justify-content: space-between;
    margin: 48px 0 80px;
  }

  .memory--reverse {
    flex-direction: row-reverse;
  }

  .memory__image {
    max-width: 360px;
    margin: 0;
  }

  .memory__content {
    max-width: 690px;
  }

  .memory-message {
    gap: 48px;
    max-width: 690px;
    margin: auto;
  }

  .grid-row--4,
  .grid-images--2 .grid-row--4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-row--6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-row--3 img {
    max-height: 352px;
  }

  .grid-row--4 img,
  .grid-images--2 .grid-row--4 img {
    max-height: 261px;
  }

  .grid-row--6 img {
    max-height: 302px;
  }

  .grid-messages {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .grid-messages--more {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-messages__column {
    gap: 24px;
  }

  .carousel--images {
    margin-bottom: 144px;
    height: 400px;
  }
}

@media (min-width: 1536px) {
  /* desktop */
  .grid-row--3 img {
    max-height: 472px;
  }

  .grid-row--4 img,
  .grid-images--2 .grid-row--4 img {
    max-height: 351px;
  }

  .grid-row--6 img {
    max-height: 409px;
  }
}
