/* Partners section */

.partners-section__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--text-white);
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.grid-partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 24px;
}

.partner-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.partner-card img {
  width: 96px;
  height: 48px;
  object-fit: contain;
}

/* /Partners section */

@media (min-width: 760px) {
  /* tablet */
  .grid-partners {
    margin-top: 40px;
  }

  .partners-section__heading {
    font-size: 18px;
    line-height: 24px;
  }

  .partner-card {
    padding: 0;
  }

  .partner-card img {
    width: 128px;
    height: 64px;
  }
}

@media (min-width: 1232px) {
  /* desktop */
  .grid-partners {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 48px;
  }

  .partner-card img {
    width: 160px;
    height: 80px;
  }
}
