/* Service section */

.grid-services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing-md);
}

.service-card {
  padding: 24px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.service-card .decor {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

.service-card:hover {
  background-color: var(--bg-brand-secondary);
  box-shadow: var(--shadow-lg);
}

.service-card:hover .decor {
  display: block;
}

.service-card__icon {
  margin-bottom: 16px;
}

.service-card__content {
  height: 224px;
}

.service-card__footer {
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -24px;
}

@media (min-width: 760px) {
  /* tablet */
  .grid-services {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-lg);
  }

  .service-card__footer {
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -24px;
  }
}

@media (min-width: 1232px) {
  /* desktop */
  .grid-services {
    grid-template-columns: repeat(4, 1fr);
  }

  .service-card__content {
    height: 264px;
  }
}
